<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/home">Home</a></h1>
    <ul>
      <!-- req.query.param1
req.query.param2 -->
      <% if(user) { %>
        <li>Welcome <%= user.name %>,</li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/find">Find user</a></li>
      <% } else { %>  
        <li><a href="/login">Login</a></li>
        <li><a href="/signup" class="btn">Signup</a></li>
      <% } %>
    </ul>
  </nav>
  <% if (locals.req && req.query.err=='blacklisted_token') { %>
  <center>
    <div class="error" style="white-space: pre-wrap;"> An already LOGGED_OUT token has been used.&#10;It is blacklisted and cannot be used. </div>
  </center>
  <% } %>
  